### Copy this file to ./secrets.py and complete the required information.
### DO NOT commit a version of this file with any information filled out.

# Wifi Info
WIFI_SSID = ""
WIFI_PASSWORD = ""

# MET Office api key
MET_API_KEY = ""

# Latitude and longitude of location to display weather data for
HOME_LATITUDE = 0.0
HOME_LONGITUDE = 0.0